.cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    @include tablet {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 4rem;
    }
    @include phone {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}